@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@300;600&family=Playfair+Display:ital,wght@1,500;1,800;1,900&family=Poppins:wght@500;700&family=Quicksand:wght@300;700&family=Roboto&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
    font-weight: 500;
    color: #fff;
}

.header{
    max-width: 1197px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 110px 10px;
}

.header__logo{
    background-color: #fff;
    display: block;
    background-image: url('https://bitpay.com/blog/content/images/2022/01/what-is-an-nft.png');
    background-repeat: no-repeat;
    width: 130px;
    height: 70px;
    background-size:cover;
    border-radius: 5px;
}

.form{
    position: relative;
}

.form__button{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('./../images/search.svg');
    background-size: cover;
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
}

.form__input{
    background-color: rgb(235, 235, 241, 0.1);
    border: none;
    width: 380px;
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
}
.form__input:focus{
    outline: none;
}

.header__list{
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header__link{
    text-decoration: none;
    color:#fff;

}

.active__link{
    padding: 10px 20px;
    background: linear-gradient(90deg, rgb(253, 2, 156) 0%, rgb(136, 1, 77) 35%, rgb(151, 3, 209) 100%) ;
    border-radius: 10px;
}

.container{
    max-width: 1197px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.main__img{
    width: 100%;
    border-radius: 30px;
}

.main__image{
    width: calc(100% - 490px - 116px);

}

.main__text{
    flex-basis: 490px;
}


.main__title{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom:10px;
}

.main__desc{
    font-size: 20px;
    line-height: 1.8;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 42px;
}

.main__btn{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    height: 18px;
    width: 50px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;

}

.main__btn__gradient{
    background: linear-gradient(90deg, rgb(253, 2, 156) 0%, rgb(136, 1, 77) 35%, rgb(151, 3, 209) 100%);
    margin-left: 40px;
}

.main__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 30px;
    margin-left: 0;
    color: rgba(255, 255, 255, .4);
    gap: 110px;
    padding-left: 0;
    margin-top: 40px;
}

.main__list__item span{
    display: block;
    font-size: 30px;
    color: #fff;
}

.company{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.company img{
    height: 90px;
    width: 300px;
    border-radius: 10px;
}